Store.Tests/obj/Debug/netcoreapp2.0/Store.Tests.dll
.vscode/launch.json
.vscode/tasks.json
Store.Api/bin/Debug/netcoreapp2.0/Store.Api.dll
Store.Api/bin/Debug/netcoreapp2.0/Store.Api.pdb
Store.Api/bin/Debug/netcoreapp2.0/Store.Api.deps.json
Store.Api/bin/Debug/netcoreapp2.0/Store.Api.runtimeconfig.json
Store.Api/bin/Debug/netcoreapp2.0/Store.Api.runtimeconfig.dev.json
Store.Api/obj/Store.Api.csproj.nuget.cache
Store.Api/obj/Store.Api.csproj.nuget.g.props
Store.Api/obj/Store.Api.csproj.nuget.g.targets
Store.Api/obj/project.assets.json
Store.Api/obj/Debug/netcoreapp2.0/Store.Api.dll
Store.Api/obj/Debug/netcoreapp2.0/Store.Api.pdb
Store.Api/obj/Debug/netcoreapp2.0/Store.Api.AssemblyInfo.cs
Store.Api/obj/Debug/netcoreapp2.0/Store.Api.AssemblyInfoInputs.cache
Store.Api/obj/Debug/netcoreapp2.0/Store.Api.csproj.CoreCompileInputs.cache
Store.Api/obj/Debug/netcoreapp2.0/Store.Api.csproj.FileListAbsolute.txt
Store.Api/obj/Debug/netcoreapp2.0/Store.Api.csprojAssemblyReference.cache
Store.Domain/bin/Debug/netstandard2.0/Store.Domain.dll
Store.Domain/bin/Debug/netstandard2.0/Store.Domain.pdb
Store.Domain/bin/Debug/netstandard2.0/Store.Domain.deps.json
Store.Domain/obj/Store.Domain.csproj.nuget.cache
Store.Domain/obj/Store.Domain.csproj.nuget.g.props
Store.Domain/obj/Store.Domain.csproj.nuget.g.targets
Store.Domain/obj/project.assets.json
Store.Domain/obj/Debug/netstandard2.0/Store.Domain.dll
Store.Domain/obj/Debug/netstandard2.0/Store.Domain.pdb
Store.Domain/obj/Debug/netstandard2.0/Store.Domain.AssemblyInfo.cs
Store.Domain/obj/Debug/netstandard2.0/Store.Domain.AssemblyInfoInputs.cache
Store.Domain/obj/Debug/netstandard2.0/Store.Domain.csproj.CoreCompileInputs.cache
Store.Domain/obj/Debug/netstandard2.0/Store.Domain.csproj.FileListAbsolute.txt
Store.Domain/obj/Debug/netstandard2.0/Store.Domain.csprojAssemblyReference.cache
Store.Infra/bin/Debug/netstandard2.0/Store.Infra.dll
Store.Infra/bin/Debug/netstandard2.0/Store.Infra.pdb
Store.Infra/bin/Debug/netstandard2.0/Store.Infra.deps.json
Store.Infra/obj/Store.Infra.csproj.nuget.cache
Store.Infra/obj/Store.Infra.csproj.nuget.g.props
Store.Infra/obj/Store.Infra.csproj.nuget.g.targets
Store.Infra/obj/project.assets.json
Store.Infra/obj/Debug/netstandard2.0/Store.Infra.dll
Store.Infra/obj/Debug/netstandard2.0/Store.Infra.pdb
Store.Infra/obj/Debug/netstandard2.0/Store.Infra.AssemblyInfo.cs
Store.Infra/obj/Debug/netstandard2.0/Store.Infra.AssemblyInfoInputs.cache
Store.Infra/obj/Debug/netstandard2.0/Store.Infra.csproj.CoreCompileInputs.cache
Store.Infra/obj/Debug/netstandard2.0/Store.Infra.csproj.FileListAbsolute.txt
Store.Infra/obj/Debug/netstandard2.0/Store.Infra.csprojAssemblyReference.cache
Store.Shared/bin/Debug/netstandard2.0/Store.Shared.dll
Store.Shared/bin/Debug/netstandard2.0/Store.Shared.pdb
Store.Shared/bin/Debug/netstandard2.0/Store.Shared.deps.json
Store.Shared/obj/Store.Shared.csproj.nuget.cache
Store.Shared/obj/Store.Shared.csproj.nuget.g.props
Store.Shared/obj/Store.Shared.csproj.nuget.g.targets
Store.Shared/obj/project.assets.json
Store.Shared/obj/Debug/netstandard2.0/Store.Shared.dll
Store.Shared/obj/Debug/netstandard2.0/Store.Shared.pdb
Store.Shared/obj/Debug/netstandard2.0/Store.Shared.AssemblyInfo.cs
Store.Shared/obj/Debug/netstandard2.0/Store.Shared.AssemblyInfoInputs.cache
Store.Shared/obj/Debug/netstandard2.0/Store.Shared.csproj.CoreCompileInputs.cache
Store.Shared/obj/Debug/netstandard2.0/Store.Shared.csproj.FileListAbsolute.txt
Store.Shared/obj/Debug/netstandard2.0/Store.Shared.csprojAssemblyReference.cache
Store.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Store.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Store.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
Store.Tests/bin/Debug/netcoreapp2.0/Store.Tests.dll
Store.Tests/bin/Debug/netcoreapp2.0/Store.Tests.pdb
Store.Tests/bin/Debug/netcoreapp2.0/Store.Tests.deps.json
Store.Tests/bin/Debug/netcoreapp2.0/Store.Tests.runtimeconfig.json
Store.Tests/bin/Debug/netcoreapp2.0/Store.Tests.runtimeconfig.dev.json
Store.Tests/obj/Store.Tests.csproj.nuget.cache
Store.Tests/obj/Store.Tests.csproj.nuget.g.props
Store.Tests/obj/Store.Tests.csproj.nuget.g.targets
Store.Tests/obj/project.assets.json
Store.Tests/obj/Debug/netcoreapp2.0/Store.Tests.pdb
Store.Tests/obj/Debug/netcoreapp2.0/Store.Tests.AssemblyInfo.cs
Store.Tests/obj/Debug/netcoreapp2.0/Store.Tests.AssemblyInfoInputs.cache
Store.Tests/obj/Debug/netcoreapp2.0/Store.Tests.Program.cs
Store.Tests/obj/Debug/netcoreapp2.0/Store.Tests.csproj.CoreCompileInputs.cache
Store.Tests/obj/Debug/netcoreapp2.0/Store.Tests.csproj.FileListAbsolute.txt
Store.Tests/obj/Debug/netcoreapp2.0/Store.Tests.csprojAssemblyReference.cache
